body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.baiSe {
  background-color: rgb(125, 186, 236);
}
.neiRong {
  width: 100vw;
  height: 101vh;
  background-image: url(./1.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -101vh;
}
.dongHua {
  margin-left: -170vh;
  height: 100vh;
  position: relative;
}
.div {
  animation: myfirst 4s;
  -webkit-animation: myfirst 4s;
  animation-fill-mode: forwards;
}
@keyframes myfirst {
  0% {
    left: 0;
    top: 0;
    bottom: 0;
  }
  100% {
    left: 3860px;
    top: 0;
    bottom: 0;
    visibility: hidden;
  }
}
